<nav>
    <ul>
        <li>
            <a href="/admin">Home</a>
        </li>
        <li>
            <a href="/admin/history">History</a>
        </li>
        <li>
            <a href="/admin/settings">Settings</a>
        </li>
    </ul>
</nav>